<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Meme Me</title>
	<link rel="stylesheet" type="text/css" href="../../css/edit.css">
	<link href='https://fonts.googleapis.com/css?family=Slackey' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="changes">
	<h3 id="edit">Edit</h3>

	<form action="/memes/<%=memes.id%>" method="POST" edit="editformid">
		<input type="text" name="name" value="<%= memes.name %>"/>
		<br>
		<input type="URL" name="image" value="<%= memes.img %>"/>
		<br>
		<input type="text" name="about" value="<%= memes.about %>"/>
		<br>
		</textarea>
		<input type="hidden" name="_method" value="PUT"/>
		<button>submit</button>
	</form>
</div>
</body>
</html>