body{
	background-color: #EDE7F6;
	font-family: 'Slackey', cursive;
}
/*.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
*/
@media (min-width: 400px;){
	body{
		display: inline-block;
	}
}
a {
text-decoration: none:
}