body{
	background-color: #EDE7F6;
	font-family: 'Slackey', cursive;
}
/*.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
*/
@media (min-width: 400px;){
	body{
		display: inline-block;
	}
}
a {
text-decoration: none:
}
#image {
  position: relative;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}